extends base

block content

  form(method='post')
    input(type="hidden", name="_csrf", value="#{token}")
    #login
      label(for=everyauth.password.loginFormFieldName) Login
      input(type="text",name=everyauth.password.loginFormFieldName,value=email)
    #password
      label(for=everyauth.password.passwordFormFieldName) Password
      input(type='password', name=everyauth.password.passwordFormFieldName)
    #submit
      input(type='submit') Login
